<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">

    <insert id="write">
        insert into board(board_idx,title,content,writer,mno)
        values(1,#{title}, #{content}, #{writer}, #{mno})
    </insert>

    <select id="boardList" resultType="com.example.demo.domain.Board">
        select *
        from (select row_number() over(order by bno desc) AS ronum, bno, title, content, writer,
                     regDate, count, reco
              from board) as b
        where ronum between #{rowStart} and #{rowEnd}
        order by bno desc
    </select>

    <select id="select" resultType="com.example.demo.domain.Board">
        select *
        from board
        where bno = #{bno}
    </select>

    <update id="count">
        update board
        set count = count + 1
        where bno = #{bno}
    </update>

    <update id="reco">
        update board
        set reco = reco + 1
        where bno = #{bno}
    </update>

    <delete id="delete">
        delete b, r
        from board as b
        inner join reply as r
        on b.bno = r.bno
        where b.bno= #{bno}
        and r.bno = b.bno;
    </delete>

    <update id="update">
        update board
        set title=#{title}, content=#{content}, writer=#{writer}
        where bno = #{bno}
    </update>


    <insert id="reply">
        insert into reply(rcontent,rwriter,up,down,bno,mno)
        values (#{rcontent}, #{rwriter}, 0, 0, #{bno}, #{mno}
        )
    </insert>

    <select id="replyList" resultType="com.example.demo.domain.Reply">
        select *
        from (select row_number() over () AS ronum, rno, rcontent, rwriter, regDate,
                     up, down, bno, mno
              from reply) as b
        where ronum between #{rowStart} and #{rowEnd}
        and bno = #{bno}
        order by bno desc
    </select>

    <update id="up">
        update reply
        set up = up + 1
        where bno = #{bno} and rno = #{rno}
    </update>

    <update id="down">
        update reply
        set down = down + 1
        where bno = #{bno} and rno = #{rno}
    </update>

    <select id="boardListCnt" resultType="int">
        select count(*)
        from board
    </select>

    <select id="replyListCnt" resultType="int">
        select count(*)
        from reply
        where bno = #{bno}
    </select>


</mapper>